*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Arial', sans-serif;
}

.logo img{
    width: 150px;
    height: auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5px;
}

.nav-links{
    display: flex;
    gap: 50px;
    align-items: center;
    text-transform: uppercase;
    font-size: 19px;
    font-size: bold;
}
.nav-links li a{
    color: white;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: lightgrey;
}

.nav-btn button{
    padding: 12px 20px;
    background-color: transparent;
    border: 2px solid white;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    font-size: bold;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-btn button:hover {
    background-color: white;
    color: black;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container {
    flex: 1;
    max-width: 60%;
}

.hero-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex: 1;
    justify-items: center;
}

.image1 {
    height: 250px;
    width: 240px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.image1:hover {
    transform: scale(1.05);
}

.image1 img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 5px;
}

.image1 h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.image1 p {
    font-size: 14px;
    color: gray;
    margin: 5px 0;
}

.container h5 {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
}

.container h1 {
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
    line-height: 1.2;
}

.container p {
    font-size: 14px;
    margin-bottom: 30px;
}

.hero-text button {
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-text button:hover {
    background-color: white;
    color: black;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
}

